@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

.container {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}

form {
	margin-top: 20px;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	/* 背景色を青色に設定 */
	color: #fff;
	/* 文字色を白色に設定 */
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: #0056b3;
	/* ホバー時の背景色を濃い青色に設定 */
}
