@charset "UTF-8";

.button-container {
	text-align: center;
	margin-top: 20px;
}

button,
input[type="submit"],
input[type="reset"],
a {
	background-color: blue;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 10px 5px;
	border: none;
	cursor: pointer;
}

input[type="submit"],
input[type="reset"] {
	width: auto;
}

a {
	line-height: 40px;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
a:hover {
	background-color: darkblue;
}